.lVideo video{
  width: 100%;
}

.goBack {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  padding: 4px 14px;
}

.muteButton {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 2;
}

.lVideo {
  position: fixed;
  bottom: 5px;
  left: 10px;
  width: 200px;
  z-index: 2;
}

.videoHolder {
  position: relative;
  min-height: 200px;
  width: 100%;
}

.rVideo {
  width: 100%;
  display: table;
  text-align: center;
  padding-top: 10%;
}

.rVideo video {
  width: 50%;
}

.rVideo.single {
  padding-top: 0;
}

.rVideo.single video{
  width: 100%;
}
